extends ../../_layout_

block variables
    -let prefix = '../../';
    -const description = 'Tutaj zobaczysz mój opis projektu. Zapraszam:)';
    -const keywords = '';
    -const title = 'Opis Projektu - konkurs IBM';
    -const site_name = 'Opis Projektu';
    -const url = 'https://informatyka-kwantowa-konkurs-ibm.pl/artilces/descriptionOfProject/description.html';
    -const sectionTitle = 'Opis Projektu';
    -const article = new Article('Opis Projektu', 'descriptionOfProject', '', Section('Opis Projektu', 'description.html'));
    -const clickedLink = 4;

block main
    .article-and-menu
        include ../../components/aside.pug
        article.article-container
            include ../../components/loaderBox.pug
            include:markdown-it ./description.md     