doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        block seo
            meta(name='description' content='')
            meta(property='keywords' content='')
            meta(property='og:title' content='')
            meta(property='og:site_name' content='')
            meta(property='og:type' content='website')
            meta(property='og:url' content="")
            meta(property='og:image' content='favicon.ico')
            link(rel='apple-touch-icon' href='favicon.ico')
        link(rel='stylesheet' href='css/main.scss' type='text/css')
        meta(property='og:description' content='')
        link(rel='canonical' href='')
        meta(name='theme-color' content='#fafafa')
        script(src='https://kit.fontawesome.com/1215c7c9b1.js' crossorigin='anonymous')
        //- Add your site or application content here
        script(src='js/vendor/modernizr-3.11.2.min.js')
        script(src='js/vendor/modernizr.js')
        script(src='js-webshim/minified/polyfiller.js')
        //- script(src='https://www.google-analytics.com/analytics.js')
    body
        block body 