extends ../../_layout_

block variables
    -let prefix = '../../';
    -const description = '';
    -const keywords = '';
    -const title = 'Algorytmy kwantowe - konkurs IBM';
    -const site_name = 'Algorytmy kwantowe';
    -const url = '';
    -const sectionTitle = 'Algorytmy kwantowe';
    -const article = new Article('Algorytmy kwantowe', 'quantum_algorithms', '', Section('Wprowadzenie', 'introdaction.html'), Section('Algorytm Deutscha-Jozsy', 'deutscha-jozsy-algorithm.html'));

block main
    .article-and-menu
        include ../../components/aside.pug
        article.article-container
            include:markdown-it ./markdown/deutscha-jozsy-algorithm.md    
    