extends ../../_layout_

block variables
    -let prefix = '../../';
    -const description = '';
    -const keywords = '';
    -const title = 'Algorytmy kwantowe - konkurs IBM';
    -const site_name = 'Algorytmy kwantowe';
    -const url = '';
    -const sectionTitle = 'Algorytmy kwantowe';
    -const sectionSpan = '';
    -const article = new Article('Algorytmy kwantowe', 'quantum_algorithms', '', Section('Wprowadzenie', 'introdaction.pug'), Section('Algorytm Deutscha-Jozsy', 'deutscha-jozsy-algorithm.pug'));

block main
    include ../../components/aside.pug
    article.article-container
        include:markdown-it ./markdown/deutscha-jozsy-algorithm.md    
    