extends ../../_layout_

block variables
    -let prefix = '../../';
    -const description = 'Bramka Identyczności i bramka Unitary';
    -const keywords = '';
    -const title = 'Obliczenia i Obwody kwantowe - konkurs IBM';
    -const site_name = 'Obliczenia i Obwody kwantowe';
    -const url = 'https://informatyka-kwantowa-konkurs-ibm.pl/articles/computing_and_Quantum_Circuits/I_and_U_gate.html';
    -const sectionTitle = 'Obliczenia i Obwody kwantowe';
    -const article = new Article('Obliczenia i Obwody', 'computing_and_Quantum_Circuits', 'kwantowe', Section('Wprowadzenie', 'introdaction.html'), Section('Bramka Not', 'not_gate.html'), Section('Tworzenie superpozycji i interferencji za pomocą bramki Hadamarda', 'H_gate.html'), Section('Faza kwantowa i kąt fazowy qubitu', 'phase_angle.html'), Section('Bramki ROT', 'ROT_gates.html'), Section('Więcej o bramkach negujących', 'moreOfNegatingGates.html'), Section('Identyczność i bramka Unitary', 'I_and_U_gate.html'), Section('Splątania kwantowe w bramkach - CNOT i Toffoly', 'entanglement_in_quantum_gates.html'), Section('Zamiana wartości stanów qubitów - SWAP i CS SWAP', 'Swap_and_Csswap_gates.html'));
    -const clickedLink = 6;

block main
    .article-and-menu
        include ../../components/aside.pug
        article.article-container
            include ../../components/loaderBox.pug
            include:markdown-it ./markdown/I_and_U_gate.md   