include ./title-container.pug
aside.navigation-aside
    ul.navigation-aside__list
        each section in article.sections
            li.navigation-aside__list-element 
                a.navigation-aside__link(href=`./${section.url}`) #{section.title}