.title-container
    .title-container__title #{article.title} 
    .title-container__span #{article.span}
aside.navigation-aside
    ul.navigation-aside__list
        each section in article.sections
            li.navigation-aside__list-element 
                a.navigation-aside__link(href=`./${section.url}`) #{section.title}