footer.footer
    a.footer__link(href='./index.html' data-link)
        img.footer__logo(src=`${prefix}img/main_logo.png` data-img)
        .footer__title(data-start) Informatka kwantowa dla każdego