header.phone-header 
    .phone-header__logo
        a.phone-header__logo-content(href=`${prefix}index.html`)
            img.phone-header__img(src=`${prefix}img/main_logo.png`, alt="")
            .phone-header__title Informatyka kwantowa
                span.phone-header__span dla każdego
    .phone-header__burger-container
        a.phone-header__burger-link(href='#')
            .phone-header__burger-menu
                .phone-header__burger-elements
                .phone-header__burger-elements
                .phone-header__burger-elements 
.phone-menu
    ul.phone-menu__list
        li.phone-menu__list-element
            a.phone-menu__link(href=`${prefix}subpages/for_organisers.html`) Dla Organizatorów 
        li.phone-menu__list-element
            a.phone-menu__link(href='/') Informatyka kwantowa
        li.phone-menu__list-element
            a.phone-menu__link(href=`${prefix}subpages/about_me.html`) O Mnie
        li.phone-menu__list-element
            a.phone-menu__link(href='https://github.com/Piotr385/informatyka-kwantowa-konkurs_ibm' target='_blank' rel='noreferrer noopener') Repozytorium