header.phone-header 
    .phone-header__logo
        a.phone-header__logo-content(href=`${prefix}index.pug`)
            img.phone-header__img(src=`${prefix}img/main_logo.png`, alt="")
            .phone-header__title Informatyka kwantowa
                span.phone-header__span dla każdego
    .phone-header__burger-container
        a.header-phone__burger-link(href='#')
            .header-phone__burger-menu
                .header-phone__burger-elements
                .header-phone__burger-elements
                .header-phone__burger-elements
.phone-menu
    ul.phone-menu__list
        li.phone-menu__list-element
            a.phone-menu__link(href=`${prefix}subpages/for_organisers.pug`) Dla Organizatorów 
        li.phone-menu__list-element
            a.phone-menu__link(href='/') Informatyka kwantowa
        li.phone-menu__list-element
            a.phone-menu__link(href=`${prefix}subpages/about_me.pug`) O Mnie
        li.phone-menu__list-element
            a.phone-menu__link(href='https://github.com/Piotr385/informatyka-kwantowa-konkurs_ibm' target='_blank') Repozytorium