.title-container
    h1.title-container__title #{sectionTitle}
    span.title-container__span #{sectionSpan}
    button.title-container__btn
        img.title-container__arrow(src=`${prefix}img/south-24px.svg`)