-class Article { constructor(title, url, span, ...sections) { this.title = title; this.sections = sections; this.url =`articles/${url}`; this.span = span;}} 

-const Section = (title, url) => { const section = { "title": title, "url": `${url}` }; return section; } 