extends _layout_.pug

block variables
    -let prefix = './';
    -const description = '';
    -const keywords = '';
    -const title = 'Informatka kwantowa dla każdego - konkurs IBM';
    -const site_name = 'Strona Główna';
    -const url = '';
    -const sectionTitle = 'Informatka kwantowa dla każdego';
    -const sectionSpan = '';

block article-container
    