extends _layout_.pug

block variables
    -let prefix = './';
    -const description = 'Chcesz zapoznać się ze światem informatyki kwantowej. Zapraszam na tą stronę. Możesz się tutaj dowiedzieć jak działają bramki kwantowe, czy zrozumieć podstawy informatyki kwantowej. Jeszcze raz zapraszam.';
    -const keywords = '';
    -const title = 'Informatyka kwantowa dla każdego - konkurs IBM';
    -const site_name = 'Strona Główna';
    -const url = 'https://informatyka-kwantowa-konkurs-ibm.pl/index.html';
    -const sectionTitle = 'Informatyka kwantowa dla każdego';
    -const sectionSpan = '';
    -const articles = [new Article('Wprowadzenie do', 'introduction_to_quantum_compiuting', 'Informatyki kwantowej',  Section('Co to jest informatyka kwantowa?', 'whatIsTheQuantumCompiuting.html')), new Article('Obliczenia i Obwody', 'computing_and_Quantum_Circuits', 'kwantowe', Section('Wprowadzenie', 'introdaction.html')), new Article('Algorytmy', 'quantum_algorithms', 'kwantowe', Section('Wprowadzenie', 'introdaction.html'))];
    -let i = 0;
 
block main    
    .section-articles   
        include ./components/section-articles.pug
        .section-articles__link-article-container.section-articles__link-article-container--right.section-articles__link-article-container--sources
            .section-articles__title-container
                h2.section-articles__title-link Źródła
                span.section-articles__span 
            a.section-articles__link.section-articles__link--right(href=`${prefix}articles/sources/sources.html` data-link)
                img.section-articles__img.section-articles__img--right( src=`${prefix}img/chevron_right-24px.svg` data-img)