extends ../../_layout_

block variables
    -let prefix = '../../';
    -const description = '';
    -const keywords = '';
    -const title = 'Wprowadzenie do Informatyki kwantowej - konkurs IBM';
    -const site_name = 'Wprowadzenie do Informatyki kwantowej';
    -const url = '';
    -const sectionTitle = 'Wprowadzenie do Informatyki kwantowej';
    -const article = new Article('Wprowadzenie do', 'introduction_to_quantum_compiuting', 'Informatyki kwantowej', Section('Co to jest informatyka kwantowa?', 'whatIsTheQuantumCompiuting.html'), Section('Czym jest qubit?', 'whatIsAQubit.html'), Section('Co to jest splątanie kwantowe?', 'whatIsAQuantumEntanglement.html'), Section('Czym jest komputer kwantowy i jak działa?', 'whatIsAQuantumComputer.html'), Section('Jak zbudowany jest komputer kwantowy?', 'howAQuantumComputerIsBuilt.html'));
    -const clickedLink = 4;

block main
    .article-and-menu
        include ../../components/aside.pug
        article.article-container
            include:markdown-it ./markdown/howAQuantumComputerIsBuilt.md     