extends ../../_layout_

block variables
    -let prefix = '../../';
    -const description = '';
    -const keywords = '';
    -const title = 'Wprowadzenie do Informatyki kwantowej - konkurs IBM';
    -const site_name = 'Wprowadzenie do Informatyki kwantowej';
    -const url = '';
    -const sectionTitle = 'Wprowadzenie do Informatyki';
    -const sectionSpan = 'kwantowej';
    -const article = new Article('Wprowadzenie do', 'introduction_to_quantum_compiuting', 'Informatyki kwantowej', Section('Co to jest informatyka kwantowa?', 'whatIsTheQuantumCompiuting.pug'), Section('Czym jest qubit?', 'whatIsAQubit.pug'), Section('Co to jest splątanie kwantowe?', 'whatIsAQuantumEntanglement.pug'), Section('Czym jest komputer kwantowy i jak działa?', 'whatIsAQuantumComputer.pug'), Section('Jak zbudowany jest komputer kwantowy?', 'howAQuantumComputerIsBuilt.pug'));

block article-container
    