extends ../_layout_.pug

block variables
    -const prefix = '../';
    -const description = '';
    -const keywords = '';
    -const title = 'O Mnie - konkurs IBM Informatka kwantowa dla każdego';
    -const site_name = 'O Mnie';
    -const url = '';
    -const sectionTitle = 'O Mnie';
    -const sectionSpan = 'Kim jestem?';

block article-container
    