extends ../_layout_.pug

block variables
    -const prefix = '../';
    -const description = '';
    -const keywords = '';
    -const title = 'O Mnie - konkurs IBM Informatyka kwantowa dla każdego';
    -const site_name = 'O Mnie';
    -const url = '';
    -const sectionTitle = 'O Mnie';
    -const articles = [];
    -let i = 0;

block main
    .section-articles
        include ../components/section-articles.pug