extends ../_layout_.pug

block variables
    -let prefix = '../';
    -const description = '';
    -const keywords = '';
    -const title = 'Dla Organizatorów - konkurs IBM Informatka kwantowa dla każdego';
    -const site_name = 'Dla Organizatorów';
    -const url = '';
    -const sectionTitle = 'Dla Organizatorów';
    -const sectionSpan = '';

block article-container
    